/* style.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
    font-size: 48px;
  }
  
  main {
    text-align: center;
    padding: 100px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  
  li {
    position: relative;
    margin: 50px 50px;
  }
  
  a {
    text-decoration: none;
    color: #333;
    padding: 10px;
    border-radius: 5px;
    background-color: #f2f2f2;
  }
  
  a:hover {
    background-color: #ddd;
  }
  
  /* Dropdown Menu */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: relative;
    top: 100%;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 10px;
    z-index: 1;
    margin: auto;
    width: fit-content;
    max-width: 200px;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  
  }
  
  .dropdown-content a:hover {
    background-color:
   #f1f1f1;
  }