//Font
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


//Variables
@primary-color: #539191;
@secondary-color: #1b1b1b;
@base-font-size: 24px;
@nav-item-spacing: 20px;
@base-item-padding: 20px;
@text-color: white;


* {
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
    color: @text-color;
    margin: 0;
    padding: 0;
}

body {
    background-color: @secondary-color;

    * {
        padding: @base-item-padding;
    }


    h1 {
        font-size: @base-font-size * 1.5;
    }  
    
    img {
        max-width: 100%;
    }

    header {
        padding: 0;
    }

}

nav {
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    z-index: 999;
    height: fit-content;


    ul {
        display: flex;
        padding: 0;
        align-items: center;
        justify-content: right;

        li {
            display: block;
            padding: @nav-item-spacing;

            a {
                text-decoration: none;
            }
        }
    }
}

#home-navbar {
    transition: background-color 0.3s ease-in-out;
    background-color: rgba(27, 27, 27, 0);
}

#header-image {
    padding: 0;
    height: 400px;

    #home-image-overlay {
        position: absolute;
        width: 100%;
        height: 400px;
        color: #EEEEEE;
        z-index: 50;
        background: linear-gradient(0deg, rgb(27, 27, 27) 0%, rgba(255, 255, 255, 0) 100%);
        margin: 0;
        padding: 0;
        overflow: hidden;
    }


    #home-image-main {
        height: 400px;
        width: 100%;
        object-fit: cover;
        object-position: center 25%;
        padding: 0;
        
    }

    h1 {
        display: inline-block;
        position: relative;
        top: 300px;
        width: 100%;
        text-align: center;
    }
}

.breadcrumb {
    .current {
        font-weight: bold;
    }
}