//Font
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


//Variables
@primary-color: #539191;
@primary-color-hover: #3a6666;
@secondary-color: #1b1b1b;
@base-font-size: 24px;
@nav-item-spacing: 20px;
@base-item-padding: 10px;
@text-color: white;


* {
    font-family: Roboto, sans-serif;
    font-size: @base-font-size;
    box-sizing: border-box;
    color: @text-color;
    margin: 0;
    padding: 0;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #161616;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

body {
    background-color: @secondary-color;

    * {
        padding: @base-item-padding;
    }


    h1 {
        font-size: @base-font-size * 3;
    }  

    h2 {
        font-size: @base-font-size * 2;
    }

    h3 {
        font-size: @base-font-size * 1.5;
    }
    
    img {
        max-width: 400px;
    }

    header {
        padding: 0;
        h1 {
            text-align: center;
            padding: 50px 0 0 0;
        }

        p {
            padding: 50px 0;
            text-align: center;
        }
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #contact-main {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        
        h2 {
            text-align: center;
        }

        section {
            flex-basis: 50%;
            margin: 0 100px;
        }
    }

    footer {
        background-color: @secondary-color;
        padding: 10px;
    }
}

nav {
    margin: 0;
    padding: 10px;
    width: 100%;
    z-index: 999;
    height: fit-content;
    background-color: @primary-color;
    display: block;


    ul {
        display: flex;
        padding: 0;
        align-items: center;
        justify-content: right;

        li {
            display: block;
            padding: @nav-item-spacing;
            font-size: @base-font-size * 1.5;


            a {
                text-decoration: none;
                font-size: @base-font-size * 1.5;
                padding: 0;
            }
        }
    }
}

#home-navbar {
    position: fixed;
    width: 100%;
    transition: background-color 0.2s ease-in-out;
    background-color: rgba(27, 27, 27, 0);
}

#header-image {
    padding: 0;
    height: 600px;

    #home-image-overlay {
        position: absolute;
        width: 100%;
        height: 600px;
        color: #EEEEEE;
        z-index: 50;
        background: linear-gradient(0deg, rgb(27, 27, 27) 0%, rgba(255, 255, 255, 0) 100%);
        margin: 0;
        padding: 0;
        overflow: hidden;
    }


    #home-image-main {
        height: 600px;
        width: 100%;
        object-fit: cover;
        object-position: center 25%;
        padding: 0;
        
    }

    h1 {
        display: inline-block;
        position: relative;
        top: 450px;
        width: 100%;
        text-align: center;
    }
}

.breadcrumb {
    .current {
        font-weight: bold;
    }
}

#contact-info-section {
     display: flex;
     flex-direction: column;
     align-items: center;
}

button {
    background-color: @primary-color;
    border-radius: 20px;
    border-color: @primary-color;
    border-style: none;
    width: fit-content;
    max-width: 300px;
    padding: 15px;
}

button:hover {
    background-color: @primary-color-hover;
}

#myForm {

    .form-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        padding-bottom: 20px;

        label {
            height: fit-content;
        }

        input {
            height: 30px;
            color: black;
        }
    }

    .contact-radio {
        width: 50%;
        display: flex;
        flex-direction: column;
        padding-left: 50px;
    }
    
    .contact-option {
        font-size: 1rem;
        display: flex;
        align-items: center;
        justify-content: left;
        

        label {
            margin: 0;
            padding: 0;
        }
    }

    .contact-check {
        width: 50%;
        display: flex;
        flex-direction: column;
        padding-left: 50px;
    }

    input[type="radio"] {
        width: 10%;
        margin-right: 5px;
    }

    input[type="checkbox"] {
        margin-right: 5px;
    }

    textarea {
        color: black;
    }
}

#buttons {
    * {
        background-color: @primary-color;
        color: white;
        border: none;
    }

    *:hover {
        background-color: @primary-color-hover;
    }

    #submit-button {
        width: 20%;
        border-radius: 20px;
        position: relative;
        align-items: center;
        padding: 10px;
    }
    
    #reset-button
    {
        width: 20%;
        padding: 10px;
        border-radius: 20px;
        position: relative;
    }
}

footer {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    a {
      text-decoration: none;
      color: white;
    }
  }


.gallery-collection {
    display: flex;
}

.gallery-link {
    flex-basis: 1;
    transition: background-color 0.2s ease-in-out;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery-link:hover {
    transition: background-color 0.2s ease-in-out;
    background-color: @primary-color-hover;
}