//Font
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


//Variables
@primary-color: #539191;
@secondary-color: #1b1b1b;
@base-font-size: 24px;
@nav-item-spacing: 20px;
@base-item-padding: 20px;
@text-color: white;


* {
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
    color: @text-color;
    margin: 0;
    padding: 0;
}

body {
    background-color: @secondary-color;

    * {
        padding: @base-item-padding;
    }


    h1 {
        font-size: @base-font-size * 1.5;
    }    

}

nav {

    background-color: @primary-color;
    margin: 0;
    padding: 0;

    ul {
        display: flex;
        padding: 0;
        align-items: center;
        justify-content: right;

        li {
            display: block;
            padding: @nav-item-spacing;

            a {
                text-decoration: none;
            }
        }
    }
}

.breadcrumb {
    .current {
        font-weight: bold;
    }
}